@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
	font-family: "Fira Sans", sans-serif;
	font-weight: 400;
}

.title-semi {
	font-family: "Fira Sans", sans-serif;
	font-weight: 700;
}

.title-bold {
	font-family: "Fira Sans", sans-serif;
	font-weight: 900;
}

.code {
	font-family: "JetBrains Mono", monospace;
}

.content {
	font-family: "Sofia Sans Variable", sans-serif;
	font-weight: 400;
}

.content-bold {
	font-family: "Sofia Sans Variable", sans-serif;
	font-weight: 700;
}

::view-transition-old(root),
::view-transition-new(root) {
	animation-duration: 0.4s
}

@layer base {
	html {
		@apply scroll-smooth bg-dark text-light;
	}

	.prose :is(ul) {
		@apply my-5 ml-10 flex list-disc flex-col space-y-3;
	}
}
